<div class="row">
  <div class="col-2">
    <div class="example-container">
      <h3>Designation</h3>
      <div
        cdkDropList
        [cdkDropListData]="designations"
        [cdkDropListConnectedTo]="[workspace]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of designations" cdkDrag>{{item.label}}</div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="example-container">
      <h3>Workspace</h3>

      <div
        cdkDropList
        [cdkDropListData]="workspaceList"
        #workspace="cdkDropList"
        class="workspace-list"
        (cdkDropListDropped)="drop($event)">

        <div class="example-box " *ngFor="let item of workspaceList " cdkDrag>
          <div *ngIf="item.isDesignation" class="row">
            <div class="col-6">
              <p style="font-max-size: 12px ; width:500px">{{item.label}}</p>
            </div>
            <div class="col-6">
              <mat-icon aria-hidden="false" aria-label="Example delete icon"
                        (click)="deleteItem(item)">delete
              </mat-icon>
            </div>
          </div>
          <div *ngIf="item.isCategory" class="row">
            <div class="col-6">
              <p style="font-max-size: 10px; width:500px;padding-left: 150px">{{item.label}}</p>
            </div>
            <div class="col-6">
              <mat-icon aria-hidden="false" aria-label="Example delete icon"
                        (click)="deleteItem(item)">delete
              </mat-icon>
            </div>
          </div>
        </div>
      </div>
      <h3 *ngIf="showMessage" style="color: red">{{message}}</h3>
    </div>
  </div>
  <div class="col-2">
    <div class="example-container">
      <h3>Agent Category</h3>
      <div
        (cdkDropListDropped)="drop($event)"
        [cdkDropListConnectedTo]="[workspace]"
        [cdkDropListData]="categorys"
        cdkDropList
        class="example-list">
        <div class="example-box" *ngFor="let item of categorys" cdkDrag>{{item.label}}</div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="example-container">
      <h3>HierarchyNode Building</h3>
      <div cdkDropList
           [cdkDropListData]="builtHierarchyNodeList"
           #category="cdkDropList"
           class="example-list"
           (cdkDropListDropped)="dropCategory($event)">
        <div class="example-box " *ngFor="let item of builtHierarchyNodeList " cdkDrag>
          <p>{{ item.designation.label }}</p>
          <p>{{ item.agentGroupCategory.label }}</p>
        </div>
      </div>
    </div>
  </div>

</div>

